.sobre-titulo{
    color: rgb(170, 63, 55);
    font-style: italic;
    text-align: center;
    padding-top: 1em;
}

.sobre-texto{
    color: rgb(170, 63, 55);
    font-style: italic;
    text-align: justify;
    margin-right: auto;
}

.sobre-imagem{
    width: 90%;
    max-width: 20em;
    max-height: 20em;
    border-radius: 15px;
    margin-top: 2em;
    display: block;
    margin: 0 auto;
}

.div-sobre{
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.logo-jurema{
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    margin: 2em;
}

@media(max-width: 768px){
    .logo-jurema{
        width: 30%;
    }
    .div-sobre{
        flex-direction: column;
    }
}