.card-deck{
    margin: 1em 0em;
    width: 100%;
}

.card {
    align-items: center;
    border-radius: 20px;
    margin: 0em 1em;
}

.card-img-top{
    width: 90%; 
    border-radius: 20px;
    margin: 0.5em auto 0em auto;
}

.card-body{
    padding: 0.8em 1.5em;
}

.card-title{
    font-weight: bold;
}

.card-subtitle, .card-text{
    font-size: 0.9em;
}

